[submodule "dep/soil"]
	path = dep/soil
	url = https://github.com/jshrake/soil
        ignore = dirty 
[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/g-truc/glm
        ignore = dirty 
[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw
        ignore = dirty 
[submodule "dep/mogl"]
	path = dep/mogl
  url = https://github.com/mogl/mogl
        ignore = dirty 
[submodule "dep/glew"]
	path = dep/glew
	url = https://github.com/nigels-com/glew
        ignore = dirty 
